body {
  font-family: Arial, sans-serif;
  background-color: #f4f7f6;
  text-align: center;
  padding: 40px;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input[type=file], button {
  width: 80%;
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
}

h2, h3 {
  color: #333;
}
